<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Teams</h1>
        <table>
            <tr>
                <th>TEAM NAME</th>
            </tr>
            <tr th:each="t: ${teams}" >
                <td th:text="${t.name}"></td>
            </tr>
        </table>

        <h2>Add a Team</h2>
        <form action="/teams" method="post">
            Name: <input type="text" name="name"><br />
            <button type="submit">Add product</button>
        </form>
        <h1>Players</h1>
        <table>
            <tr>
                <th>Player Info</th>
            </tr>
            <tr th:each="p: ${players}" >
                <td th:text="${p.name}"></td>
                <td th:text="${p.dob}"></td>
                <td th:text="${p.position}"></td>
                <td th:text="${p.team}"></td>
            </tr>
        </table>

        <h2>Add a Player</h2>
        <form action="/players" method="post">
            Name: <input type="text" name="name"><br />
            DOB: <input type="text" name="dob"><br />
            Position: <input type="text" name="position"><br />
            Team: <input type="text" name="team"><br />
            <button type="submit">Add player</button>
        </form>
    </body>
</html>